.header {
    grid-area: h;
    background-color: brown;
    background-image: url("../../assets/images/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.block {
    position: relative;
}

.loginBlock {
    position: absolute;
    right: 5px;
    width: max-content;
}

.loginBlock a {
    color: darksalmon;
}