.App-wrapper {
    display: grid;
    grid-template-rows: 10%;
    grid-template-columns: 16% 50%;
    grid-gap: 5px;
    margin: 0 auto;
    justify-content: center;
    grid-template-areas:
            'h h '
            'n c';
}

.header {
    grid-area: h;
    background-color: brown;
}

.nav {
    grid-area: n;
    background: green;
}

.content {
    grid-area: c;
    background: blue;
}




